<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLIP query app</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="static/js/masonry.pkgd.js"></script>
    <script src="static/js/imagesloaded.pkgd.js"></script>
    <script src="static/js/imageUpload.js"></script>
    <link rel="icon" type="image/x-icon" href="static/images/favicon_clip.ico">
</head>

<body>
    <header>
        <h1>Interroger un fonds d'images</h1>
    </header>

    <div class="barre">
        <nav>
           <ul>
              <li><a href="#about">À propos (about)</a></li>
              <li><a href="#query">Saisir une requête (submit a query)</a></li>
              <!-- <li><a href="#image-query">Interrogation par image (image query)</a></li> -->
              <li><a href="#fund">Aperçu du fonds (fund overview)</a></li>
           </ul>
        </nav>
    </div>

    <div class="anchor" id="about"></div>

    <div class="box">
        <h2>Sur l'application (about the application)</h2>
        <p>Cette application utilise un modèle CLIP (<i>Contrastive Language–Image Pre-training</i>) pour traiter des images 
            et permettre de les requêter en langage naturel, le tout <i>via</i> cette interface web. Les images du dossier 
            que vous avez sélectionné ont d'ores et déjà été traitées par le modèle. Vous pouvez à présent interroger le modèle 
            en langage naturel (c'est-à-dire en langage courant) pour qu'une grille de résultats s'affiche. En pied de page sera 
            affichée la matrice de confusion du modèle.</p>
        <p>This application uses a CLIP (<i>Contrastive Language–Image Pre-training</i>) model to process images and query 
            them in natural language, all on this web application interface. The images contained in the folder you have selected 
            have already been processed by the model. You can now query the model in natural language (i.e. everyday language) 
            to display a grid of results. The model confusion matrix is displayed at the foot of the page.</p>
    </div>

    <div class="anchor" id="query"></div>

    <div class="box_black" id="form">
        <h2>Saisir une requête (submit a query)</h2>
        <p>{{msg}} </p>
        <p><b>{{classes}}</b></p>
        
        <form action="{{url_for('page')}}" method="post" style="width: 600px; margin: 0 auto;" target="_blank">
            <input class="uk-input" style="width: 400px; type="text" name="prompt" placeholder="Requête (query)" id="prompt">
            <button class="uk-button uk-button-default" type="submit">Soumettre (submit)</button>
        </form>
    </div>

    <div class="anchor" id="image-query"></div>

    <!-- <div class="box_black" id="img-query">
        <h2>Interrogation par image (image query)</h2>
        <p>Déposez une image ici pour trouver des images similaires.</p>
        <form id="image-upload-form" action="/upload-image" method="POST" enctype="multipart/form-data">
            <input type="file" id="image-upload" accept="image/*" onchange="previewImage(event)" name="image">
            <div id="image-preview"></div>
            <button class="uk-button uk-button-default submit-button" type="submit" id="button">Soumettre (submit)</button>
        </form>
        <div id="similar-images-grid" data-masonry='{ "itemSelector": ".grid-item"}'></div>
    </div> -->

    <div class="anchor" id="fund"></div>

    <div class="box_black">
        <h2>Aperçu du fonds (fund overview)</h2>
        <p>Quelques-unes des {{count}} images issues du fonds<br/>Some of the {{count}} images from the fund</p>
        
        <div id="grid" data-masonry='{ "itemSelector": ".grid-item"}'>
            {% for image in files %}
                <div class="grid-item">
                    {% if not(urls|length) or urls[loop.index-1][:-1] == "-" %}
                        <img src="{{ url_for('static', filename=image) }}" width="150">
                    {% else %}
                        <a href="{{urls[loop.index-1][:-1]}}" target="_blank"><img src="{{ url_for('static', filename=image) }}" width="150"></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        var grid = document.querySelector('#grid');
        var msnry = new Masonry(grid, {itemSelector: '.grid-item', percentPosition: true});
        imagesLoaded(grid).on('progress', function() {
            msnry.layout();
        });
    </script>
</body>
</html>
